<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DogeGo</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <header>
    <div class="row">
      <div class="col-6">
        <div class="topnav">
          <a class="active" href="#home">Главная</a>
          <a href="#news">История</a>
          <a href="#contact">FAQ</a>
        </div>
      </div>
      <div class="col-6">
        <div class="topnav-telegram">
          <a href="#"><i class="fa fa-telegram" style="font-size: 25px;"></i> Бот DogeGo</a>
          <a href="#"><i class="fa fa-telegram" style="font-size: 25px;"></i> Чат DogeGo</a>
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-4">
      <div class="block-chat">
        <div class="chat-main">
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="block-main">
        <div class="main-roulete">
          <div class="custom-bar progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              60 секунд
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="roulete">
                <img src="https://cdn.iconscout.com/icon/free/png-256/grinning-face-smile-emoji-happy-37705.png" style="width:100%">
              </div>
            </div>
            <div class="col-4">
              История
            </div>
          </div>
          <div class="hash">
            Хеш код раунда: 213qwf12e3qwdfftg431
          </div>
          <div class="hash">
            Секретное число раунда: 0.2145123125131221
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="total-red">0</div>
          </div>
          <div class="col-4">
            <div class="total-green">0</div>
          </div>
          <div class="col-4">
            <div class="total-black">0</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="col-3">
        <div class="icon-help">
          <a href="#">Тех. поддержка</a>
        </div>
      </div>
      <div class="col-6" style="padding-top:15px; padding-bottom: 10px;">
        DogeGo&copy; Developed by Sasha with &#128155;
      </div>
      <div class="col-3">
        <div class="icon-partners">
          <a href="#"><i class="fa fa-money" style="font-size: 25px;"></i> DogeWallet</a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
